.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;

    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 40px;
    }
}

.courseList {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 30px;
    max-width: 30ch;
    column-gap: 20px;
}

@media (width >= 800px) {
    .courseList {
        max-width: fit-content;
        gap: 30px;
        max-width: 140ch;

        p {
            font-size: 20px;
        }
    }
}
