.container {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
        max-width: 210px;
        align-self: center;
    }
}

.certificationCard {
    width: fit-content;
    text-decoration: none;
    transition: transform 200ms ease-in-out;
}

.certificationCard:hover {
    transform: scale(1.15);
    cursor: pointer;
}

.certificationsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.pythonImage img {
    max-width: 150px;
    align-self: center;
}

@media (width >= 800px) {
    .certificationsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 250px;
    }
}

